.tiles {
    display: flex;
    gap: 4px;
    list-style: none;
}

ul li {
    width: 65px;
    height: 65px;
    background-color: #121213;
    border: 2px solid #3a3a3c;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

